@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  min-height: 10pv;
  align-items: center;
}

.nav-sign{
  width:80px;
}

.nav-sign {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

  color: #000000;
}

.form-search{
  display: flex;
  justify-content: space-between;
  width: 870px;
}

.form-search input{
width: 800px;
height: 30px;
border: 2px solid #C4C4C4;
box-sizing: border-box;
border-radius: 3px;
}

.logo img {
  width: 120px;
}



